 
.img2 {
  width: 100%;
  margin: 0 auto;

  height: 590.6px;
  object-fit: cover;
  border-radius: 8px;

  position: absolute;
}
.error-container {
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Cormorant Upright", serif;
  text-align: center;
 }
.numberErorr {
  font-size: 470.22px;
  color: var(--coler_2);
 

}
.error-content{
  margin-top: -10rem;
}
.text-ERorr{
 
  margin-bottom: -32rem;
  margin-left: -13rem;
 }