.extras-container {
 
  color: white;
  padding: 40px;
  text-align: center;
  margin-top: -100px;
}

.extras-title {
  width: 1332;
  height: 48;
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.44px;
  letter-spacing: 0%;
  margin-left: -900px;
}

.extras-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  max-width: 950px;
  margin: auto;
}

.extra-item {
  width: 350px;
  background: #fff4e6;
  color: black;
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  height: 127;
  border-radius: 48px;
  padding: 16px;
  cursor: pointer;
}

.extra-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.extra-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #ff9500;  
  color: white;
}
 
.selected {
  background-color: #ff9500 !important;
  color: white;
}

.extra-image {
  width: 160px;
  height: 100px;
  border-radius: 8px;
 
}

.extra-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra-name {
  font-size: 16px;

  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0%;
  margin-top: -50px;
  color: #151716;
}

.extra-price {
  width: 30;
  height: 39;
  font-family: Cormorant Upright;
font-weight: 700;
font-size: 32px;
line-height: 38.75px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;

  
}

@media (max-width: 600px) {
  .extras-grid {
    grid-template-columns: repeat(1, 1fr);
  }
} 

