.sectionForgetPassword00 {
  height: 650px;
  
}

.PageForgetPassword00 {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.PageForgetPasswordcontainer00 {
  display: flex;
  width: 94%;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 33px;
  overflow: hidden;
  background-color: #fff4e6;
  padding-top: 22px;
  padding-bottom: 22px;
}

.PageForgetPasswordform-section00 {
  position: relative;
  padding: 70px;
  flex: 0.8;
  gap: 30px;
  margin-left: -40px;
  margin-top: 80px;
}

.PageForgetPasswordform-section00 h1 {
  font-size: 64px;
  margin-bottom: 8px;
  color: #151716;
  font-family: Cormorant Upright, serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 77.5px;
  letter-spacing: 0%;
}

p {
  padding-bottom: 20px;
}

 

.PageForgetPasswordform-section00 input[type="email"]
 {
  width: 520px;
  height: 52px;
  padding: 10px;
  margin-bottom: 15px;
  background: #FFF4E6;
  border: 1px solid #ff9500;
  border-radius: 16px;
  font-size: 16px;
  position: relative;
}


.PageForgetPasswordform-section00 .send-btn00 {
  margin-top: 20px;
  width: 100%;
  height: 59px;
  padding: 12px;
  background-color:#FF9500;
  color:    #151716;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: -5px;
 font-family: Inter;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;

}

 

.PageForgetPasswordform-section00 .send-btn00:hover {
  background-color: #e65a00;
}

.image-section00 img {
 
 
 
width: 728px;
height: 680px;
border-radius: 48px;

}

/* Responsive design */

@media (max-width: 900px) {
  .image-section00 img {
    position: relative;
    top: 600px;
    left: -56rem;
    height: 500px;
  }

  .sectionForgetPassword00 {
    height: 1230px;
  }
  .PageForgetPasswordcontainer00 {
    position: relative;
    top: 20rem;
    height: 1130px;
  }
  .PageForgetPasswordform-section00 {
    position: relative;

    display: block;
    justify-items: center;
    justify-content: center;
  }
}
@media (max-width: 680px) {
  .PageForgetPasswordform-section00 input[type="email"],
  .PageForgetPasswordform-section00 input[type="password"] {
    width: 330px;
    height: 52px;
  }
  .PageForgetPasswordform-section00 {
    position: relative;
  }
  .image-section00 img {
    display: none;
  }

  .PageForgetPasswordcontainer00 {
    position: relative;
    top: 20rem;
    height: 650px;
  }
  .sectionForgetPassword00 {
    height: 700px;
  }

  .PageForgetPasswordform-section00 button {
    width: 140px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 482px) {
  .PageForgetPasswordform-section00 input[type="email"],
  .PageForgetPasswordform-section00 input[type="password"] {
    width: 280px;
    height: 52px;
  }
  .PageForgetPasswordform-section00 {
    position: relative;
  }
  .image-section0 img {
    display: none;
  }

  .PageForgetPasswordform-section00 button {
    width: 120px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .PageForgetPasswordform-section00 h1 {
    font-size: 42px;
    margin-bottom: 8px;
    color: #151716;
  }

  p {
    font-size: 15px;

    padding-bottom: 20px;
  }

  .PageForgetPasswordform-section00 a {
    color: #ff9500;
    text-decoration: none;
    border-bottom: 2px solid #ff9500;
    padding-bottom: 0.2px;
  }
  .sectionForgetPassword00 {
    padding: 10px;
  }
}
