 /* body {
  display: flex; /* محاذاة المحتوى أفقيًا */
  /* justify-content: center; توسيط العنصر أفقيًا */
  /* align-items: center; توسيط العنصر عموديًا */
  /* height: 100vh; ارتفاع الشاشة بالكامل */
  /* background-color: #f9f9f9; لون الخلفية */
  /* margin: 0; إزالة أي مسافات خارجية */


 /* الحاوية الرئيسية للكوكيز */
.container {
  position: absolute; /* ضروري لتحديد المواقع */
  top: 50%; /* توسيط عموديًا */
  left: 50%; /* توسيط أفقيًا */
  transform: translate(-50%, -50%); /* تصحيح الموقع إلى المركز */
  width: 200px; /* عرض الحاوية */
  height: 200px; /* ارتفاع الحاوية */
  display: flex; /* تحسين التنظيم الداخلي */
  justify-content: center; /* توسيط المحتوى أفقيًا */
  align-items: center; /* توسيط المحتوى عموديًا */
}

/* إعدادات الكوكي الثابتة */
#static-cookie {
  position: absolute; /* موقع الصورة */
  top: -200%; /* توسيط عموديًا */
  right: -170%; /* توسيط أفقيًا */
  transform: translate(-50%, 50%); /* لتصحيح الموقع */
  width: 400px; /* حجم الكوكيز */
}

/* إعدادات الكوكيز المتحركة */
#moving-cookie {
  position: absolute; /* لتحديد موقع الصورة */
  top: 0%; /* توسيط عموديًا */
  right: -200%; /* البداية من اليسار */
  width: 450px; /* حجم الكوكيز المتحركة */
  animation: rotate 4s linear infinite; /* حركة الدوران */
}
#crumbs{
  left:-170 ;
}
/* حركة الدوران */
@keyframes rotate {
  0% {
    transform: translate(0, -50%) rotate(0deg); /* البداية */
  }
  50% {
    transform: translate(150px, -50%) rotate(180deg); /* المنتصف */
  }
  100% {
    transform: translate(0, -50%) rotate(0deg); /* العودة للبداية */
   }
}
 