.menu-container {
 padding: 88px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 90px;
}

.menu-card {
  color: #151716;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background: #fff4e6;
  width: 310px;
  height: 381px;
  top: 20px;
  left: 20px;
  border-radius: 48px;
  gap: 30px; /* تعديل المسافات بين الكروت */
 
  
}
 

.image-placeholder img {
  height: 120px;
  border-radius: 48px 48px 0 0;
  margin-bottom: 10px;
  margin-top: 0;
  width: 310px;
  height: 216px;
  margin-left: -15px;
  margin-top: -15px;
}

.menu-info h3 {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.75px;
  letter-spacing: 0%;
  margin-left: -90px;
  padding:  0 16px 0 0;
}
p{
  font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 19.36px;
letter-spacing: 0%;
color:#151716;
 margin-left: 5px;
 margin-top: 10px;
}
.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.cart-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-bottom: none;
  border-radius: 3px;
  position: relative;
  top: -3px;
}

.cart-icon::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-top: none;
  position: absolute;
  bottom: 6px;
  border-radius: 50%;
}

h2 {
  font-family: Cormorant Upright;
  font-weight: 700;
  size: 64px;
  line-height: 77.5px;
  letter-spacing: 0%;
  color: #fff4e6;
  margin-top: 64px;
}
.heart {
  width: 59px;
  height: 49px;
  font-size: 11px; /* حجم النص */
  color: black; /* لون السعر */
  font-weight: bold; /* سمك النص */
  text-align: right; /* اجعليها riht أو left أو center حسب الاتجاه المطلوب */
  position: relative;
  top: -110px; /* لتحريكه لأسفل */
  left: 210px; /* لتحريكه لليمين */
 
  
 
}

.price4{
font-family: Cormorant Upright;
font-weight: 700;
font-size: 40px;
line-height: 48.44px;
letter-spacing: 0%;
text-align: center;
color: #151716;
margin-top: -70px;

}
 .star6{
  margin-left: -10px;
  margin-top: -50px;
  width: 120px;
  height: 24px;
 }