


.Login1class{
 
display: flex;
justify-content: center;
align-items: center;
padding: 88px;
}

.border{
  
  border: 1px solid crimson;
}
.loginCardconteiner{
width: 1312px;
height: 728px;
max-width: 1312px;
border-radius: 48px;
padding: 24px;
background-color: #FFF4E6;
display: flex;
 gap: 16px;
align-items: center;
}
 

.loginCardconteinerform{

 

  width: 520px;
  height: 526px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.loginCardconteinerimg{

gap: 32px;
width: 728px;
height: 680px;
border-radius: 48px;
padding: 0px;
margin: 0px;
 
}
.loginCardconteinerformtext{
  width: 520px;
  height: 110px;

  gap: 8px;
  
}
.loginCardconteinerformtext h2{
  font-family: "Cormorant Upright", serif;

  font-weight: 700;
  font-size: 64px;
  line-height: 77.5px;
  letter-spacing: 0%;
  color: #151716;
}
.loginCardconteinerformtext h4{
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0%;
  font-family: "Inter", serif;
  color: #151716;
  margin-top: -15px;
}
.loginCardconteinerformtext span{
color: #FF9500;
;
}
.loginCardconteinerformAction{
width: 520px;
height: 384px;
gap: 24px;
display: flex;
flex-direction: column;

}
.loginCardconteinerformActioninput{
  width: 520px;
  height: 185px;
  gap: 16px;
  
}
.loginCardconteinerformActionSinwith {
  width: 520px;
  height: 185px;
  gap: 16px;
  
  
  
}

.loginCardconteinerformActioninput input{
width: 520px;
height: 52px;
gap: 10px;
border-radius: 16px;
padding: 16px;
border-width: 1px;
 background-color: #FFF4E6;
 border: 1px solid #FF9500;
}
.loginCardconteinerformActioninput2{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.loginCardconteinerformActioninput2 img{
  width: 20px;
height: 20px;
position: relative;
margin-left: 30.1rem;
margin-top: -3.3rem;
cursor: pointer;
}
.loginCardconteinerformActioninput2 h3{
  font-family: "Inter", serif;
font-weight: 400;
font-size: 14px;
line-height: 16.94px;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
 margin-top: 5px;
text-decoration-thickness: Auto;
 color: #FFAA33;
}
.loginCardconteinerformActioninput2remember{
  display: flex;
 align-items: center;
  flex-direction: row ;
  width: 520px;
  height: 24px;
  gap: 8px;
  
}
.loginCardconteinerformActioninput2remember input[type="checkbox"]{
 
width: 24px;
height: 24px;
cursor: pointer;
 border-radius: 4px;
 
 }

.loginCardconteinerformActioninput2remember input[type="checkbox"]:checked {
  background-color: #ff9500;
  border-color: #ff9500;
}
.loginCardconteinerformActioninput2remember label{
  font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
font-family: "Inter", serif;

}