.chifuipage {
  height: 800px;
  padding-top: 20px;
  padding-left: 19px;
  background-image: url("public/IMEG/Elements.svg"); /* إضافة صورة الخلفية */
  background-size: cover; /* جعل الصورة تغطي العنصر بالكامل */
}
.imgchifpage img {
  height: 100vh;
}
.border {
  border: 1px solid rgb(90, 0, 0);
  width: 100%;
}
.Headerchif {
  height: 48px;

  justify-content: space-between;
}
.buttonchifpage {
  padding-top: 20px;
  display: flex; /* استخدام flexbox */
  align-items: center; /* محاذاة العناصر عموديًا في المنتصف */
  gap: 20px; /* المسافة بين العناصر */
}
.button1chifpage {
  margin-left: -10px;
  width: 50px;
  height: 50px;

  border-radius: 16px;
  padding: 16px;
  background: #ff9500;
  border: none;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.chifSelectpage {
  width: 152px;
  height: 48px;
  padding-left: 17px;
  display: flex; /* استخدام flexbox */
  justify-content: space-between; /* توزيع العناصر بالتساوي */
  align-items: center; /* محاذاة العناصر عموديًا في المنتصف */
  gap: px; /* المسافة بين العناصر */
  border-radius: 16px;

  border-width: 1px;
  border: 1px solid #ff9500;
  background-color: #ff950000;
  color: beige;

  -webkit-appearance: none; /* للسفاري */
  -moz-appearance: none; /* لفايرفوكس */
  appearance: none; /* للمصفحات الحديثة */

  /* تعديل المسافات حول النص */
  font-size: 17px;

  /* تخصيص مظهر السهم الافتراضي */
  background: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22 width=%2220%22 height=%2220%22%3E%3Cpath fill=%22none%22 stroke=%22%23ffffff%22 stroke-width=%222%22 d=%22M6 7l4 4 4-4%22/%3E%3C/svg%3E")
    no-repeat right -90px center;
  background-size: 30px; /* حجم السهم */
  background-position: right;
  background-position-x: 100px;

 
}
 
 
.optionselect {
  color: black;
}
.chifuipageprosser {
  display: flex; /* استخدام flexbox */
  justify-content: space-between; /* توزيع العناصر بالتساوي */
  align-items: center; /* محاذاة العناصر عموديًا في المنتصف */
  margin-left: -10px;
}
.chifNewOrders {
  width: 440px;
  height: 569px;
}
.chifInProgress {
  width: 440px;
  height: 569px;
}
.chifReadytoServe {
  width: 440px;
  height: 569px;
}
.chifNewOrdersText {
  font-weight: 700;
  font-size: 48px;
  line-height: 58.13px;
  letter-spacing: 0%;
  text-align: center;

  color: antiquewhite;
  font-family: "Cormorant Upright", serif;
  padding-bottom: 30px;
}
.chifInProgressText {
  font-weight: 700;
  font-size: 48px;
  line-height: 58.13px;
  letter-spacing: 0%;
  text-align: center;

  color: antiquewhite;
  font-family: "Cormorant Upright", serif;
  color: #ffce8a;
  padding-bottom: 30px;
}
.chifReadytoServeText {
  font-weight: 700;
  font-size: 48px;
  line-height: 58.13px;
  letter-spacing: 0%;
  text-align: center;

  color: antiquewhite;
  font-family: "Cormorant Upright", serif;
  color: #ff9500;
  padding-bottom: 30px;
}
.cardallchifuipageprosser {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* تحديد الارتفاع */
  overflow-x: hidden;
  overflow-y: scroll; /* شريط تمرير عمودي */

  box-sizing: border-box;
  max-height: 499px;
  flex-direction: column; /* عرض الكروت بشكل عمودي */
}

.cardallchifuipageprosser::-webkit-scrollbar {
  width: 7px; /* عرض شريط التمرير */
  height: 40px;
}

.cardallchifuipageprosser::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* لون الخلفية لشريط التمرير */
  border-radius: 10px; /* جعل الحواف دائرية */
}

.cardallchifuipageprosser::-webkit-scrollbar-thumb {
  background-color: #4e4e4e; /* لون الجزء الذي يتم سحبه من شريط التمرير */
  border-radius: 10px; /* جعل الحواف دائرية */
}

.cardallchifuipageprosser::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* لون الجزء القابل للسحب عند التمرير عليه */
}
.cardchifuipageprosser {
  max-height: 447px;
  width: 415px;
  height: 120px;
  border-radius: 48px;
  background-color: #fff4e6;
  box-sizing: border-box;
  flex-shrink: 0; /* منع الكروت من الانكماش */
  display: flex;
  justify-content: space-between;
}
.cardchifuipageprosserImg {
  margin-left: -5px;
}
.cardchifuipageprosserTextt {
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: -70px;
}

.cardchifuipageprosserTextt p {
  color: #333333;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0%;
  font-family: "Inter", serif;
  margin-top: 5px;
}
.cardchifuipageprosserTextt h3 {
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.75px;
  letter-spacing: 0%;
  text-align: center;
}
.cardchifuipageprosserIcon {
  margin-top: 40px;
  width: 48;
  height: 48;
  position: relative;
  left: -30px;
}

.currentTime {
  color: #fff4e6;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: -30px;
  font-family: "Inter", serif;
margin-right: 20px;
}
